body {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  color: white;
}
.box {
  display: flex;
  justify-content: center;
  width: 180px;
  padding: 10px;
  background-color: rgb(25, 23, 23);
  margin-right: 10px;
  margin-left: 10px;
}
.motherbox {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(74, 74, 74);
  padding: 10px;
}
