body {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  color: white;
}
.box {
  display: flex;
  justify-content: center;
  width: 180px;
  padding: 10px;
  background-color: red;
  margin-right: 10px;
}
.motherbox {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  padding: 10px;
}
